<p id="notice"><%= notice %></p>
<h1>Stats</h1>
<p>
  <strong>User with Most Posts:</strong>
  <%= @user_with_most_posts %>
  (<%=@number_of_posts%>)
  <br><br>
  <strong>Top 5 Tags:</strong>
  <% @tags.each do |tag| %>
    <%= tag.name %>,
  <% end %>
  <br><br>
  <strong>Longest blog post:</strong>
  <%= @longest_blog_post_by_character_count %>
</p