<p id="notice"><%= notice %></p>

<h1>BLOG STATUS</h1>
<p>
  <strong>User with the most posts</strong>
  <%= @user_with_most_posts %>
  (<%= @number_of_posts %>)
</p>
<br><br>
<%= link_to 'New Post', new_post_path %>

<%# <%=@post.user.first_name %> %>